.NotFound, .Forbidden {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    button {
        margin-top: 1em;
    }
}