.charity-table-container {
    margin: 1em;
    padding: 1em;
}

.toolbar-highlight {
    background: #ffebf2;
}

.charity-table-container > .toolbar > .toolbar-button,
.charity-table-container > .toolbar-highlight > .toolbar-button {
    margin-left: 1em;
    cursor: pointer;
}
.charity-table-container > .toolbar > .toolbar-button ~.toolbar-button,
.charity-table-container > .toolbar-highlight > .toolbar-button ~.toolbar-button {
    margin-left: 0;
}
