// default colors
$primary: #2B2B2B;      // dominant color
$secondary: #575151;    // secondary color
$accent: #FEB062;       // accent (highlights), can have multiple

$error: #fff;           // error color
$confirm: $accent;        // approval color

$green: #039487;
$red: #ff0033;

$black: #000;           // black
$mono: #F5F5F5;
$white: #FFF;           // white
