.map-header {
    background-color: $primary !important;
    display: flex !important;
    flex-direction: row !important;
    @include flex-center;
    width: 100% !important;

    @include for-phone-landscape-up {
        background-color: unset !important;
        box-shadow: unset !important;
        height: 4em;
        width: min-content !important;
    }

    .header-logo {
        align-items: center;
        color: $white;
        display: flex;
        font-weight: bold;
        flex-grow: 1;
        padding: 0.5em 1.5em;
        text-align: left;
        z-index: 999;

        @include for-phone-landscape-up {
            background-color: $primary;
            border-bottom-right-radius: 2em;
            flex-grow: 0;
            transition: all 0.2s;
        }

        svg {
            font-size: 2.5em;
            
            @include for-phone-landscape-up {
                font-size: 3em;
            }
        }
    }

    .header-wide-dropdown {
        background-color: $primary;
        border-bottom-right-radius: 2em;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        padding: 0 0.5em 0 2em;
        transform: translateX(-80%);
        transition: all 0.2s;
        z-index: 998;

        &.wide-active {
            background-color: $mono2;
            transform: translateX(-10%);
        }

        .header-button {
            align-items: center;
            display: flex;
            height: 100%;
            padding: 0 1em;
        }

        .header-expand-button {
            font-size: 2.5em;
        }
        .header-close-button {
            padding-left: 0.5em;
            padding-right: 0.5em;
        }
    }
}


.header-narrow-dropdown > .MuiPaper-root {
    background-color: $mono2;
    color: $white;

    li {
        text-align: right;
        padding-left: 3em;
        padding-right: 1em;
    }
}
