.MapPage {
    height: 100vh;
    overflow: hidden;
}

.map-container {
    display: flex;
    flex-direction: row;
}

.map-sidebar {
    background: $mono;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100vw;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 0.2s;

    @include for-phone-landscape-up {
        transform: translateX(100%);
        width: 30vw;
    }

    &.active {
        transform: translateX(0);
    }
}