.Footer {
    align-items: center;
    background: $primary;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    padding: 2em 0;
    width: 100vw;
    flex-wrap: wrap;

    .footer-logo {
        display: none;

        @include for-laptop-up {
            display: block;
            flex: 25% 1;
            font-size: 5em;
        }
    }

    .footer-links, .footer-contacts {
        color: white;
        display: flex;
        flex-direction: column;
        margin: 1em;
        font-size: 0.75em;

        @include for-laptop-up {
            margin: 1em 3em;
            font-size: 1em;
        }
    }
    .footer-links {
        flex: 20% 0;

        @include for-laptop-up {
            flex: 25% 1;
        }
    }
    .footer-contacts {
        flex: 30% 0;

        @include for-laptop-up {
            flex: 25% 1;
        }
    
        svg, span {
            vertical-align: middle;
        }
        span {
            margin-left: 1em;
        }
    }

    .footer-text-link {
        margin: 1em 0;
        width: max-content;
    }
}