.LeafletMap {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.leaflet-map-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(0);
    transition: transform 1s linear;

    &.sidebar-open {
        transition: transform 1s cubic-bezier(.26,.75,.9,.91);
        transform: translateX(-15%);
    }

}